In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split, cross_validate
from sklearn.metrics import accuracy_score, precision_score, recall_score, precision_recall_curve,f1_score, fbeta_score

from helper import clean_churn_df, model_baseline, score_model, split_with_dupe_rows_in_train
from imblearn.over_sampling import RandomOverSampler

plt.style.use('ggplot')
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
#data source: https://www.datacamp.com/community/tutorials/predicting-employee-churn-python
churn_df = pd.read_csv('HR_comma_sep.csv')
churn_df[churn_df.left == 0].shape[0]/churn_df.shape[0] ## imbalanced dataset with .76 in 1 class

0.7619174611640777

## Split data

Run cell below once to create your table in postgres

In [5]:
from sqlalchemy import create_engine

[This](https://medium.com/coding-blocks/creating-user-database-and-adding-access-on-postgresql-8bfcd2f4a91e) article was key to me getting the psql stuff setup on aws

In [8]:
engine = create_engine('postgresql://nmp256@localhost:5432/churn')
#churn_df.to_sql('hr', engine) uncomment this to create your table after creating your db in psql

In [9]:
df = pd.read_sql_query('select * from hr',con=engine)

In [10]:
df.head()

,index,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary
0,0,0.38,0.53,2,157,3,0,1,0,sales,low
1,1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,3,0.72,0.87,5,223,5,0,1,0,sales,low
4,4,0.37,0.52,2,159,3,0,1,0,sales,low

In [ ]:
#this is just for git test.